<section class="pay-section" id="body-container">
  <div class="wrapper">
    {{! Room Info: Left Side (even though it says right) }}
    <div class="right m-3" style="width: 75%;">
      {{! Image }}
      <img
        {{! very stupid syntax needed .[] crazy stuff, but fun - ryanShawn }}
        src="imgs/{{room.img_urls.[0]}}"
        alt="Single Bed"
        height="300"
        width="450"
        class=""
      />
      <h2>{{room.size}}</h2>
      <p class="">{{room.size}} Room</p>
      <p>
        {{room.description}}
      </p>
      <div class="row">
        <div class="col-md-6">
          <p>Price per night ${{room.price_per_night}}</p>
        </div>
      </div>
      {{! Room Summary }}
      <div class="row">
        <div class="col-md-12">
          <h2>Room Summary</h2>
        </div>
      </div>

      {{! Room Type }}
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 p-0">Room Type: {{room.size}}</p>
        </div>
      </div>

      {{! Dates }}
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 p-0">Check In: {{room.check_in}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="m-0 p-0">Check Out: {{room.check_out}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 p-0">Price per night: ${{room.price_per_night}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 p-0">Days: {{room.days}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Price: ${{multiply room.price_per_night room.days}}</p>
        </div>
      </div>

      {{! Amenities }}
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-2">Amenities</h2>
          {{#if room.gym}}
            <i class="fa-solid fa-dumbbell fa-2xl" style="color: #00000f;"></i>
          {{/if}}
          {{#if room.pets}}
            <i class="fa-solid fa-paw fa-2xl" style="color: #000000;"></i>
          {{/if}}
          {{#if room.smoke}}
            <i class="fa-solid fa-smoking fa-2xl" style="color: #000000;"></i>
          {{/if}}
          {{#if room.tv}}
            <i class="fa-solid fa-tv fa-2xl" style="color: #000000;"></i>
          {{/if}}
          {{#if room.free_wifi}}
            <i class="fa-solid fa-wifi fa-2xl" style="color: #000000;"></i>
          {{/if}}
          {{#if room.minifridge}}
            <i class="fa-solid fa-snowflake fa-2xl" style="color: #000000;"></i>
          {{/if}}
          {{#if room.breakfast}}
            <i class="fa-solid fa-mug-saucer fa-2xl" style="color: #000000;"></i>
          {{/if}}
        </div>
      </div>
    </div>

    {{! Pay Form: Right Side (even though it says left) }}
    <div class="left m-3 h-100" style="width: 25%; overflow: scroll;">
      <div class="row">
        <div class="col-md-12">
          <h2>Payment Info</h2>
        </div>
      </div>
      {{! Pay Form }}
      <form class="pay-form" action="/process-pay" method="POST">
        {{! Hidden RoomInfo }}
        <input type="hidden" name="roomInfo" value="{{json room}}" />

        {{! First Name }}
        <div class="form-group">
          <label for="FirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="FirstName"
            placeholder="First Name"
            name="firstname"
            value="{{session.firstname}}"
            required
          />
        </div>

        {{! Last Name }}
        <div class="form-group">
          <label for="LastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="LastName"
            placeholder="Last Name"
            name="lastname"
            value="{{session.lastname}}"
            required
          />
        </div>

        {{! Email }}
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
            value="{{session.email}}"
            required
          />
        </div>

        {{! Credit Card Number }}
        <div class="form-group">
          <label for="CardNumber">Credit Card Number</label>
          <input class="form-control" id="CardNumber" type="tel" 
                      inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" 
                      maxlength="16" placeholder="xxxx xxxx xxxx xxxx" name="card" required>
        </div>

        {{! Submit Button }}
        <div class="form-group">
          <button
            type="submit"
            class="btn-block btn btn-primary btn-lg btn-block"
          >Pay Now</button>
        </div>
      </form>

    </div>
  </div>
</section>