{{!-- TODO: display something when no rooms returned --}}

<div class="container flex-column" id="body-container">

  <div class="wrapper">
    {{! Left Search }}
    <div class="left search">
      {{! Search Again }}
      <form action="/search" method="GET" class="text-dark h-100">
        <h2 class="mb-3">Discover <em>Your</em> Perfect Room</h2>
        {{! Check-in }}
        <div class="form-group">
          <label for="check-in-date">Check-in date:</label>
          <input
            type="date"
            id="check-in-date"
            class="form-control"
            name="check-in-date"
            required
          />
        </div>

        {{! Check-out }}
        <div class="form-group">
          <label for="check-out-date">Check-out date:</label>
          <input
            type="date"
            id="check-out-date"
            class="form-control"
            name="check-out-date"
            required
          />
        </div>

        {{! Guests Amount }}
        <div class="form-group">
          <label for="num-guests">Guests:</label>
          <input
            type="number"
            id="num-guests"
            class="form-control"
            name="num-guests"
            min="1"
            max="10"
            value="1"
            required
          />
        </div>

        {{! Amenities Checkboxes }}
        <div class="form-group">
          <label for="amenities">Amenities:</label>

          {{! Smoke }}
          <label for="smoke">
            <input type="checkbox" id="smoke" name="amenities" value="smoke" />
            Smoke
          </label>

          {{! TV }}
          <label for="tv">
            <input type="checkbox" id="tv" name="amenities" value="tv" />
            TV
          </label>

          <label for="wifi">
            <input type="checkbox" id="wifi" name="amenities" value="wifi" />
            Wifi
          </label>

          {{! Mini Fridge }}
          <label for="minifridge">
            <input
              type="checkbox"
              id="minifridge"
              name="amenities"
              value="minifridge"
            />
            Mini Fridge
          </label>

          {{! Gym }}
          <label for="gym">
            <input type="checkbox" id="gym" name="amenities" value="gym" />
            Gym
          </label>

          {{! Pets }}
          <label for="pets">
            <input type="checkbox" id="pets" name="amenities" value="pets" />
            Pets
          </label>

          {{! Breakfast }}
          <label for="breakfast">
            <input
              type="checkbox"
              id="breakfast"
              name="amenities"
              value="breakfast"
            />
            Breakfast
          </label>
        </div>

        {{! Submit Button }}
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary btn-block w-100"
          >Search</button>
        </div>
      </form>
    </div>

    {{! Right Results }}
    <div class="right results">
      {{! All Rooms }}
      <div class="list-group">

        {{! Getting room information from the database }}
        {{#each rooms}}
          <a
            class="list-group-item list-group-item-action align-items-start flex-row"
          >
            {{! Image }}
            <img
            {{!-- very stupid syntax needed .[] crazy stuff, but fun - ryan --}}
              src="imgs/{{this.img_urls.[0]}}"
              alt="Single Bed"
              height="175"
              width="250"
              class=""
            />

            {{! Room Info }}
            <div class="container">
              <h2>{{this.size}}</h2>
              <p class="title">{{this.size}} Room</p>
              <p>
                {{this.description}}
              </p>
              <div class="row">
                <div class="col-md-6">
                  <p>Price per night ${{this.price_per_night}}</p>
                </div>
                <div class="col-md-6 align-self-center">
                  <form action="/book" method="POST">
                    <input type="hidden" name="roomInfo" value="{{json this}}">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg buy-btn"
                      role="button"
                      aria-pressed="true"
                    >
                      Book
                    </button>
                  </form>
                </div>
              </div>
            </div>

          </a>
        {{/each}}
      </div>
    </div>
  </div>

</div>